@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
body {
  font-family: "Poppins";
  --body-background-color: #874CCC;
  --nav-link-color: white;
  --nav-link-hover-color: lightgrey;
  --hero-section-background-color: white;
  --hero-section-text-color: black;
  --skills-section-background-color: #344955;
  --skills-section-text-color: rgb(240, 223, 191);
  --projects-section-background-color: #C65BCF;
  --project-background-color: #F27BBD;
  --project-heading-color: black;
  --project-text-color: black;
  --footer-background-color: white;
  --button-color: white;
  --button-background-color: black;
  --button-hover-color: black;
  --button-hover-background-color: white;
  background: var(--body-background-color);
}

.section {
  border: 1px solid black;
  padding: 0px 0px 0px 20px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.contact {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.contact::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.contact:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
button.contact:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
button.contact:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
button.contact:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

.margin-bottom {
  margin-bottom: 40px;
}

.margin-top {
  margin-top: 40px;
}

#hero-section {
  background: var(--hero-section-background-color);
  grid-template-areas: "a b" "c b";
}
#hero-section p {
  color: var(--hero-section-text-color);
}
#hero-section #hero-left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  grid-area: a;
}
#hero-section #hero-right {
  grid-area: b;
}
#hero-section #hero-cta {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: c;
}
#hero-section h1 {
  font-family: "Montserrat";
  transition: all 300ms ease-in-out;
}
#hero-section h1 #name:hover {
  text-decoration: underline;
  cursor: pointer;
}

#skills-section {
  background: var(--skills-section-background-color);
}
#skills-section p {
  color: var(--skills-section-text-color);
}

#projects-section {
  background: var(--projects-section-background-color);
  padding: 20px;
}
#projects-section h2 {
  font-size: 2em;
  color: var(--project-heading-color);
}
#projects-section p {
  color: var(--project-text-color);
}
#projects-section .project {
  border: 1px solid black;
  background: var(--project-background-color);
}

#footer {
  box-sizing: border-box;
  padding: 30px;
  background: var(--footer-background-color);
}
#footer #copyright {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.nav .logo {
  height: 100px;
  width: 200px;
}

.nav a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .hide-desktop {
    display: none;
  }
  #nav-left,
  #nav-right {
    display: inline-block;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    font-family: "Roboto";
    font-size: 18px;
    color: var(--nav-link-color);
  }
  .nav ul {
    list-style: none;
    display: flex;
  }
  .nav ul li {
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }
  .nav ul li:hover {
    color: var(--nav-link-hover-color);
    cursor: pointer;
  }
  #nav-left ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav-desktop {
    display: block;
  }
  #nav-mobile {
    display: none;
  }
  #nav-desktop {
    width: 90%;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    transform: translateX(0%);
  }
  #nav-right ul li {
    border: 1px solid black;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  #nav-right ul li:nth-child(1) {
    color: black;
    background: white;
  }
  #nav-right ul li:nth-child(1):hover {
    color: white;
    background: black;
  }
  #nav-right ul li:nth-child(2) {
    background-color: black;
  }
  #nav-right ul li:nth-child(2) a {
    text-decoration: none;
    color: white;
  }
  #nav-right ul li:nth-child(2):hover {
    background-color: white;
  }
  #nav-right ul li:nth-child(2):hover a {
    color: black;
  }
  #hero-section,
  #skills-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    height: 500px;
  }
  #hero-section img,
  #skills-section img {
    float: right;
    max-height: 100%;
  }
  #hero-section h1 {
    font-size: 4em;
  }
  #hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #skills-section.skill-card {
    padding-left: 15px;
  }
  #skills-section #technical-skills {
    border-left: 1px solid black;
  }
  #skills-section .skill-card {
    padding-left: 20px;
  }
  #projects-section {
    text-align: center;
  }
  #projects-section .project {
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: left;
    height: 400px;
  }
  #projects-section .project .project-image {
    height: 400px;
  }
  #projects-section .project .project-image img {
    width: 90%;
    height: 100%;
    float: left;
  }
}
@media screen and (max-width: 899px) {
  .nav {
    font-family: "Roboto";
    font-size: 18px;
    color: var(--nav-link-color);
  }
  .nav ul {
    list-style: none;
  }
  .nav ul li {
    transition: all 300ms ease-in-out;
  }
  .nav ul li:hover {
    color: var(--nav-link-hover-color);
    cursor: pointer;
  }
  #nav-mobile {
    display: block;
    padding: 0px 20px;
  }
  #nav-mobile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #nav-desktop {
    padding-top: 30px;
    background: grey;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 300ms ease-in-out;
    transform: translateX(100%);
    z-index: 5;
  }
  #nav-desktop ul {
    display: flex;
    flex-direction: column;
    color: white;
  }
  #nav-desktop ul li:hover {
    text-decoration: underline;
  }
  #nav-close-btn-container {
    display: flex;
    justify-content: left;
  }
  #show-nav-btn {
    width: 30px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background: white;
    transition: all 300ms ease-in-out;
  }
  #show-nav-btn img {
    width: 100%;
    height: 100%;
  }
  #show-nav-btn:hover {
    cursor: pointer;
    background: grey;
  }
  #nav-close-btn {
    background: grey;
    width: 90px;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }
  #nav-close-btn img {
    width: 100%;
    height: 100%;
  }
  #nav-close-btn img:hover {
    cursor: pointer;
  }
  #hero-section,
  #skills-section {
    text-align: center;
  }
  #hero-section img,
  #skills-section img {
    width: 70%;
    margin: 10px auto;
  }
  #hero-section {
    height: 750px;
  }
  #hero-section img {
    min-width: 300px;
    max-width: 350px;
    height: 350px;
  }
  #hero-section h1 {
    font-size: 3em;
  }
  #hero-section p {
    margin-bottom: 30px;
  }
  #projects-section img {
    width: 100%;
    height: 200px;
  }
  #projects-section .project-info {
    padding: 10px 20px;
  }
  .hide-mobile {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
